<h1>Listing sprints</h1>

<table>
  <tr>
    <th>Start</th>
    <th>Stop</th>
    <th>Task</th>
    <th>Log</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sprints.each do |sprint| %>
  <tr>
    <td><%= sprint.start %></td>
    <td><%= sprint.stop %></td>
    <td><%= sprint.task_id %></td>
    <td><%= sprint.log %></td>
    <td><%= link_to 'Show', sprint %></td>
    <td><%= link_to 'Edit', edit_sprint_path(sprint) %></td>
    <td><%= link_to 'Destroy', sprint, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sprint', new_sprint_path %>
