<p id="notice"><%= notice %></p>

<p>
  <b>Start:</b>
  <%= @sprint.start %>
</p>

<p>
  <b>Stop:</b>
  <%= @sprint.stop %>
</p>

<p>
  <b>Task:</b>
  <%= @sprint.task_id %>
</p>

<p>
  <b>Log:</b>
  <%= @sprint.log %>
</p>


<%= link_to 'Edit', edit_sprint_path(@sprint) %> |
<%= link_to 'Back', sprints_path %>
